.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Initially hidden and scaled down */
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.popupBox.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.schoolList {
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 25px;
    max-width: 90%;
    text-align: center;
    position: relative;
}

.closeBox {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}